*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: red;
    height: 20vh;
}


@media screen and (max-width: 768px){
    header{
        position: relative;
        height: 100vh;
        background-color: blue;
    }
    .lien li{
        list-style: none;
        width: auto;
    }
    .lien{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        background-color: red;
    }
    .blocLien{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20em;
        background-color: green;
    }
}